<html>
  <head>
    <title>Blogger</title>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <%= stylesheet_link_tag :application %>
    <nav>
      <div class="nav-wrapper">
        <a href="/articles" class="brand-logo">Blogger</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/articles">Index</a></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
